h1{
    font-size: 60px;
    text-decoration: underline;
}

h3{
    font-size: 30px;
}

.box{
    font-size: 20px;

}

img{
    padding-right: 100px;
}

input{
    font-size: 17px;
}